header {
}
header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-size: 1em;
        background-color: #333;
        /* background-color: #33cccc; */
}

header li {
        float: left;
}

header li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

header li a:hover {
        background-color: #111;
}
header .active {
    background-color: rgb(255,115,0);
}
