* {
        margin: 0;
        padding: 0;
}

html {
        height: 100%;
        background-color: rgb(115, 115, 115);
}

body {
        /* background-color: rgb(115, 115, 115); */
        height: 100;
}
.corps {
        background-color: rgb(115, 115, 115);
        margin: 2%;
}

section {
background-color: white;
margin: 1%;
min-height: 100px;
}
p {
        color: #0F0F0F;
        padding: 1em;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table .ports{
max-width: 8em;
overflow-x: auto;
overflow-y: hidden;
font-size: 0.6em;
}
th, td {
    text-align: center;
    white-space: nowrap;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #0a111c;
    color: white;
}
table button{
    height: 100%;
    width: 50%;
    min-height: 2em;
}
@media only screen and (max-width: 768px) {
section{
overflow-x: scroll;
}
}
