<header>
    <ul>
        <li><a href="main">Home</a></li>
        <li><a href="guide">Guide</a></li>
        <li><a href="faq">FAQ</a></li>
        <li><a href="about">About</a></li>
    </ul>
</header>
<script charset="utf-8">
    $('a[href='+window.location.pathname.substring(1)+']').addClass('active');
</script>
