<!DOCTYPE html>
<html>
        <head>
                <base href="../">
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width" />
                <title>Showroom</title>
                <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
        </head>
        <body>
                <header>
                        <ul>
                                <li><a class="active" href="#home">Home</a></li>
                                <li><a href="#Guide">Guide</a></li>
                                <li><a href="#FAQ">FAQ</a></li>
                                <li><a href="#about">About</a></li>
                        </ul>
                </header>
                <div class="corps">
                        <section>
                                <p>admin/manage</p>
                        </section>
                        <section>
                                <p>launchOnly</p>
                        </section>
                        <section>
                                <p>users</p>
                        </section>
                </div>
                <footer>
                </footer>
        </body>
</html>
