<!DOCTYPE html>
<html>
            <%- include('head') %>
        <body>
            <%- include('header') %>
                <div class="corps">
                        <section id="docker">
                                <p>admin/manage</p>
                        </section>
                        <!-- <section> -->
                        <!--         <p>launchOnly</p> -->
                        <!-- </section> -->
                        <!-- <section> -->
                        <!--         <p>users</p> -->
                        <!-- </section> -->
                </div>
                <footer>
                </footer>
                <script charset="utf-8" src="scripts/docker.js" >
                </script>
        </body>
</html>
